@font-face {
  font-family: 'bellaboo';
  src:url(fonts/Bellaboo.ttf);
  font-style: normal;
  font-weight:700;
}

@font-face {
  font-family: 'agrandir';
  src:url(fonts/Agrandir-Narrow.otf);
  font-style: normal;
  font-weight:400;
}
/* navbar */
.navbar_company_name{
  font-size: 2rem;
}

.ncs-vertical{
  font-size: 2rem;
  margin: 1rem;
}

.ncs-wide{
  font-size: 1.5rem;
  margin: 1rem;
}

/* intro */
.introduction{
background-color: black;
position: relative; /* This setting allows position referencing to all contained  elements*/
overflow: hidden; /* This setting hides the contained elements that overflows the container */
}

.background-intro-img{
filter: brightness(0.8) hue-rotate(6deg) opacity(0.99) contrast(1.3) sepia(0.17) saturate(1.4) grayscale(0.08);
}

.tittle-text{
  position: absolute;
  top: 6%;
  right: 8%;
  letter-spacing: 0.06em;
  text-align: right;
  font-size: 8vw;
}
.tt-vertical {
right: 55%;
}
.tt-wide {
right: 8%;
}

.top-right-slogan{
position: absolute;
}

.trs-wide{
top: 20%;
right: 13%;
font-size: 3vw;
}

.trs-vertical{
right: 55%;
top:15%;
font-size:4.5vw;
}

.services-list{
  list-style-type:none;
  text-align: center;
  font-family: 'Open Sans';
  font-weight:400;
  position: absolute;
  line-height: 260%;
  color:white;
  top: 33%;
}
.sl-wide{
right: 19%;
font-size: 2vw;
}

.sl-vertical{
right: 57%;
font-size: 4vw;
}

.headphones{
  font-size: 2vw;
}

.social-media{
  position: absolute;
  padding: 3%;
}
.sm_img{
padding:10px;
color: white;
font-size: 1.5rem;
}
.social_icon {
  margin: 20px 10px;
}

.sm-wide{
  top: 60%;
  right: 13%;
}
.sm-vertical{
right: 50%;
top:70%;

}

/* services */
.services{
padding:8%;
text-align: center;
}
.services_title{
font-size: 4vw;
padding-bottom: 10%;
}
.equipment_img{
  width: 450px;
  height: 300px;
  text-align: center;
  padding-bottom: 15px;

}
.services_description{
text-align: left;
padding-left: 8%;
padding-right: 8%;
}
.buttons-row{
  padding-bottom: 5%;
}
.service_button{
font-size: 24px;
margin: 15px;
width: 240px;
height: 60px;
}
.sm-icons-services{
  text-align: center;
}
.smb_img{
  color: black;
  padding:10px;
  font-size: 1.5rem;
}

h1 {
  font-family: 'Bebas Neue';
  font-weight: 400;
  color:white;
}
h2 {
  font-family: 'agrandir';
  font-weight: 700;
  font-size: 2vw;
}

h4 {
  font-family: 'bellaboo';
  font-weight: 700;
  color:white;
}

p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 25px;
}


.book_button{
  font-family: 'agrandir';
  font-size: 26px;

}
