@font-face {
  font-family: 'bellaboo';
  src:url(fonts/Bellaboo.ttf);
  font-style: normal;
  font-weight:700;
}

@font-face {
  font-family: 'agrandir';
  src:url(fonts/Agrandir-Narrow.otf);
  font-style: normal;
  font-weight:400;
}

h1 {
  font-family: 'Bebas Neue';
  font-weight: 400;
  color:white;
}
h2 {
  font-family: 'agrandir';
  font-weight: 700;
  font-size: 2vw;
}

h4 {
  font-family: 'bellaboo';
  font-weight: 700;
  color:white;
}

p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 25px;
}
/* navbar */
.navbar_company_name{
  font-size: 2rem;
}

.ncs-vertical{
  font-size: 2rem;
  margin: 1rem;
}

.ncs-wide{
  font-size: 1.5rem;
  margin: 1rem;
}

/* intro */
.home-container{
position: relative; /* This setting allows position referencing to all contained  elements*/
overflow: hidden; /* This setting hides the contained elements that overflows the container */
}

.background-intro-img{
filter: brightness(0.8) hue-rotate(6deg) opacity(0.99) contrast(1.3) sepia(0.17) saturate(1.4) grayscale(0.08);
}
.tittle-text{
  position: absolute;
  top: 6%;
  letter-spacing: 0.06em;
  text-align: right;
  font-size: 8vw;
}
.tt-vertical {
right: 55%;
}
.tt-wide {
right: 8%;
}

.top-right-slogan{
position: absolute;
}

.trs-wide{
top: 20%;
right: 13%;
font-size: 3vw;
}

.trs-vertical{
right: 55%;
top:15%;
font-size:4.5vw;
}

.services-list{
  list-style-type:none;
  text-align: center;
  font-family: 'Open Sans';
  font-weight:400;
  position: absolute;
  line-height: 260%;
  color:white;
  top: 33%;
}
.sl-wide{
right: 19%;
font-size: 2vw;
}

.sl-vertical{
right: 57%;
font-size: 4vw;
}

.headphones{
  font-size: 2vw;
}

.social-media{
  position: absolute;
  padding: 3%;
}
.sm_img{
padding:10px;
color: white;
}
.social_icon {
  margin: 20px 10px;
}

.sm-wide{
  top: 60%;
  right: 12%;
  font-size: 1.2vw;
}
.sm-vertical{
right: 50%;
top:70%;
font-size: 1.5rem;

}

/* services */
.services{
padding:8%;
text-align: center;
}
.services_title{
font-size: 4vw;
padding-bottom: 10%;
}
.equipment_img{
  width: 450px;
  height: 300px;
  text-align: center;
  padding-bottom: 15px;
}
.services_description{
text-align: left;
padding-left: 8%;
padding-right: 8%;
}
.buttons-row{
  padding-bottom: 5%;
}
.service_button{
font-size: 130%;
margin: 15px;
width: 95%;
height: 70px;
}
.sm-icons-services{
  text-align: center;
  padding:5%;
}
.smb_img{
  color: black;
  padding:10px;
  font-size: 1.5rem;
}
/* biography */
.bio-container{
  position: relative; /* This setting allows position referencing to all contained  elements*/
  overflow: hidden; /* This setting hides the contained elements that overflows the container */
}
.bio-title{
  position: absolute;
  bottom: 10%;
  left: 6%;
  letter-spacing:1.5vw;
  font-size: 350%;
}
.bio-description{
  position: absolute;
  top: 50%;
  right: 5%;
  font-size:23px;
  color: white;
}
/* production */
.production-container{
  position: relative; /* This setting allows position referencing to all contained  elements*/
  overflow: hidden; /* This setting hides the contained elements that overflows the container */
  background-color: #1c1a17;
  text-align: left;
}
.pc-vertical{
width: 100vw;
height:120vw;
}
.pc-wide{
width: 100vw;
height: 100vh;
}
.production-background-img{
filter: contrast(87%) brightness(136%) saturate(126%) sepia(59%) grayscale(20%);
position: absolute;
bottom: 0;
}
.pbi-vertical{
  width: 60vw;
  height: 43vw;
  left: 30%;
}
.pbi-wide{
  width: 60vw;
  height: 43vw;
  left: 30%;
  /* $('.production-background-img').width(wid*0.8);
  $('.production-background-img').height(wid*0.71*0.8); */
}

.production_title{
  color: white;
  font-size: 4vw;
  position: absolute;
  top:10%;
  right:50%;
  z-index: 1;
}
.carousel-inner {
  left: 30%;
}
.production_project_card{
  text-align: center;
  background-color: transparent;
  color: white;

}
.ppc-wide{
  width: 20%;
  height: 40%;
  padding-top: 12%;
}

.ppc-vertical{
  width: 45%;
  height: 95%;
  padding-top: 30%;
}

.card-text{
font-family:  'Open Sans';
text-align: left;
}

.card-text-vertical{
font-size: 25px;
}
.card-text-wide{
font-size:18px;
}

.book_button{
  position: absolute;
  letter-spacing: 0.06em;
  margin: 15px;

}
.book_button-wide{
  width: 16vw;
  height: 3.5vw;
  right: 11%;
  top: 9%;
  font-size: 1.5vw;
}
.book_button-vertical{
  width: 20vw;
  height: 5vw;
  right: 11%;
  top: 9%;
  font-size: 2vw;
}
/* Academia section */
.booking_div{
  position: relative;
}
.button_course_booking{
  width: 20vw;
  height: 5vw;
  right: 30%;
  bottom: 40%;
}
.button_course_booking-wide{
  width: 18vw;
  height: 3.5vW;
  right: 25%;
}
